<!-- And inside of this file we're going to set up the boiler plate html for every page of our application .  -->

<!-- Then type ! and hit aenter -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary,Which is the name of our application</title>
</head>
<body>
    <!-- And then inside of this body here we're going to put all the code that goes inside of our application before and and after every single page.
    For example we can just type in some text that says Before <br> And we wanna put <br> After as shown below . And in between before and after we wanna put the content of everything inside of our application , so in order to do that we're just going to use this sentence < - body  >  -->
    Before
    <br>
    <%- body %> <!-- and then we're just going to include every single other one of our pages right in here in this body page . So now we can actually create a view for index of our application and then we go to index.ejs then go to line 1 of index.ejs and write middle-->
    <br>
    After
</body>
</html>